<!-- <h1>I am Angular</h1>
<h2>I am H2</h2>



 <h1>{{title}}</h1>

<img [src]="srctitle" alt="">

<button (click)="changeSpecificTitle(txt.value)">Change</button>


<input type="text" #txt>

<input type="text" [(ngModel)]="title">
 -->
<!-- <h1 *ngIf="flag">IF</h1>
<h1 *ngIf="! flag">ELSE</h1>

<table>
  <tr *ngFor="let stud of students">
    <td>{{stud.rollNo}}</td>
    <td>{{stud.name}}</td>
    <td>{{stud.garde}}</td>
  </tr>
</table> -->



<!-- <app-child1></app-child1> -->
<a routerLink="child1">Child1</a>
<a routerLink="child11">Child11</a>
<router-outlet></router-outlet>